# --- Core ETL ---
requests==2.31.0
boto3==1.34.0

# --- Local Development & Spark (Optionnel si déjà installé) ---
pyspark==3.5.0

# --- Unit Testing ---
pytest==8.0.0
pytest-mock==3.12.0
moto[s3]==5.0.0
